/* label-styles.css */
.label-icon {
  pointer-events: auto;
  cursor: pointer;
  z-index: 9999;
}

.custom-label {
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2px 4px;
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  overflow: visible;
}
